* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{ 
  scroll-behavior: smooth;
}
body {
  
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    
    
}

body::-webkit-scrollbar {
  display: none; /* Oculta la barra de desplazamiento en Chrome, Safari, y Edge */
}

/* decoracion */



/* chatbot */
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}

.logo-container {
  position: fixed;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  z-index: 10;
}

.logo-container {
  width: 60px;
  height: 60px;
  animation: float 2s ease-in-out infinite;
}

.chat-container {
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 320px;
  max-width: 100%;
  display: none;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  z-index: 20;
}

.chat-container.active {
  display: flex;
}

.header-container {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #0474e4;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.logo-small {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

#chatbox {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 10px;
  padding: 10px;
  border-top: 1px solid #ddd;
  background-color: #e5ddd5;
}

#chat-content {
  display: flex;
  flex-direction: column;
}

.message {
  margin-bottom: 10px;
  max-width: 80%;
  padding: 10px;
  border-radius: 5px;
}

.message.user {
  align-self: flex-end;
  background-color: #0474e4;
  border-top-right-radius: 0;
  color: white;
}

.message.bot {
  align-self: flex-start;
  background-color: #fff;
  border-top-left-radius: 0;
}

#chat-form {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
  background-color: #f0f0f0;
}

#user-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  outline: none;
}

button {
  background-color: #0474e4;
  color: #fff;
  border: none;
  padding: 10px 15px;
  margin-left: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.logoWhat {
  width: 70px;
  position: absolute;
  right: 15px;
  bottom: 20px;
}

.header {
   /* Negro con 50% de transparencia */
   position: absolute;
  padding: 20px;
  color: white;
  width: 300px;
  margin: 20px auto;
  text-align: center;
  width: 100%;
  height: 10vh;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12vh;
  z-index: 10;
}

.header .nav {
  display: flex;
  gap: 30px;
}

.header .nav span {
  color: #00960c;
}

.header .nav a:hover {
  color: #00960c;
  transition: all 0.2s ease-in-out;
}

.header .logo {
  background-color: #00960c;
  color: white;
  padding: 3px 10px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 4px;
}

.header .nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 18px;
}

/* seccion 1 */

.seccionOne {
  background: linear-gradient(to top, #8800f8, #2f00ff);
  display: flex;
  min-height: 100vh;
  padding: 12vh;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.seccionOne .jamy {
  background-color: #0474e4;
  padding: 4px 18px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
}

.seccionOne h2 {
  color: white;
  max-width: 600px;
  font-size: 60px;
  font-weight: 600;
}

.seccionOne h2 .pedaso {
  color: rgb(255, 255, 255);
}

.seccionOne img {
  width: 70vh;
  max-width: 450px;
}

/* botones seccion 1 */
.seccionOne .btns {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.seccionOne .btns div {
  width: 120px;
  height: 41px;
  border: 1px rgb(71, 71, 71) solid;
  border-radius: 3px;
}

.seccionOne .btns a {
  background-color: #00960c;
  width: 120px;
  height: 40px;
  border: 1px rgb(255, 255, 255) solid;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 2%;
  bottom: 7%;
  transition: all 0.2s ease-in-out;
}

.seccionOne .btns a:hover {
  left: 1%;
  bottom: 4%;
  transition: all 0.2s ease-in-out;
}

/* section two */

.seccionTwo {
  position: relative;
  background-color: #ffff;
  width: 100%;
  min-height: 100vh;
  padding: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 70px;
}

.seccionTwo h2 {
  color: rgb(0, 0, 0);
  text-align: center;
  max-width: 600px;
  font-size: 28px;
}

.seccionTwo .main-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}  

.ilus-1{
  position: absolute;
  width: 120px;
  left: 40px;
  top: 55px;

}

.ilus-2{
  position: absolute;
  width: 130px;
  right:40px;
  top: 50px;

}

.ilus-3{
  position: absolute;
  width: 80px;
  right:46.5%;
  bottom: 10px;

}

/* cards section two */

.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  border-radius: 24px;
  line-height: 1.6;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content {
  width: 240px;
  height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 36px 25px;
  border-radius: 22px;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  overflow: hidden;
  /* background: linear-gradient(135deg, #0474e4, #003f9e); */
  background: #0474e4;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content::before {
  position: absolute;
  content: "";
  top: -4%;
  left: 50%;
  width: 90%;
  height: 90%;
  transform: translate(-50%);
  background: #ced8ff;
  z-index: -1;
  transform-origin: bottom;

  border-radius: inherit;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content::after {
  position: absolute;
  content: "";
  top: -8%;
  left: 50%;
  width: 80%;
  height: 80%;
  transform: translate(-50%);
  background: #e7ecff;
  z-index: -2;
  transform-origin: bottom;
  border-radius: inherit;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content img {
  width: 48px;
  height: 48px;
}

.content .para {
  z-index: 1;
  opacity: 1;
  font-size: 18px;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content .link {
  z-index: 1;
  color: #fea000;
  text-decoration: none;
  font-family: inherit;
  font-size: 16px;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content .link:hover {
  text-decoration: underline;
}

.card:hover {
  transform: translate(0px, -10px);
}

.card:hover .content::before {
  rotate: -5deg;
  top: 0;
  width: 100%;
  height: 100%;
}

.card:hover .content::after {
  rotate: 5deg;
  top: 0;
  width: 100%;
  height: 100%;
}

/* section 3 */

.seccionThree {
  /* background: linear-gradient(135deg, #3198ff, #001f4e); */
  /* background: #00960c; */
  background: linear-gradient(to top, #8800f8, #2f00ff);
  width: 100%;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.seccionThree h2 {
  font-size: 35px;
  color: white;
}

.seccionThree h4 {
  background-color: #0474e4;
  color: white;
  padding: 3px 20px;
  border-radius: 4px;
}

.seccionThree .entidades {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.seccionThree .entidades span {
    color: rgb(255, 255, 255);
    background-color: #0474e4;
    padding: 3px 15px;
    border-radius: 4px;
    font-weight: 600;
}

.seccionThree .adver{
    background-color: #00960c;
    color: rgb(255, 255, 255);
    max-width: 900px;
    text-align: center;
    padding: 3px 15px;
    font-weight: 700;
    border-radius: 4px;
}

/* section 4 */

.seccionFour{
  position: relative;
  background-color: #ffff;
    width: 100%;
    min-height: 80vh;
    padding: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.ilus-4{
  position: absolute;
  width: 160px;
  left: 5%;
  top: 55%;

}

.ilus-5{
  position: absolute;
  width: 170px;
  right:5%;
  top: 55%;

}

.seccionFour p{
    font-weight: 700;
    font-size: 15px;
    text-wrap: pretty;
}

.seccionFour h2{
    background-color: #00960c;
    color: white;
    padding: 3px 15px;
    border-radius: 4px;
}

.seccionFour h3{
    background-color: #0474e4;
    padding: 3px 15px;
    color: white;
    border-radius: 3px;
    margin-bottom: 30px;
}

.seccionFour .cards{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

/* section 5 */

.seccionFive{
  background: linear-gradient(to top, #8800f8, #2f00ff);
  width: 100%;
  min-height: 90vh;
  padding: 20vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
}

.seccionFive h2{
  background: #00960c;
  border-radius: 4px;
  margin: 0 auto;
  padding: 3px 15px;
  color: white;
}

.seccionFive h4{
  background: #0474e4;
  border-radius: 4px;
  color: white;
  padding: 3px 15px;
  margin: 0 auto;
  font-size: 15px;
  text-wrap: pretty;
  font-weight: 700;
}

.simulador{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.simulador img{
  max-width: 400px;
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-height: 400px;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}


.form-group {
  margin-bottom: 15px;
  text-align: left;
  display: flex;
  gap: 10px;
  
}

.form-group div{
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  display: block;
  font-weight: bold;
}

input[type="number"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="radio"] {
  margin-right: 5px;
}

.seccionFive button, .seccionFive a {
  width: 150px;
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  margin: 0 auto;
  font-weight: 600;
}



.resultado {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}


/* footer */
.footer{
  background-color: #ffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 5vh 15vh;
}

.footer h3{
  background: #00960c;
  padding: 3px 15px;
  color: white;
  border-radius: 4px;
}

.footer .redes{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footer .redes a:hover{
  transform: translateY(-3px);
  transition: all .2s ease-in-out;
}

.container-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}


label {
  font-size: 18px;
  margin-bottom: 10px;
  display: block;
  color: #555;
}

select {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  font-weight: 800;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fafafa;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

select:focus {
  border-color: #8800f8;
  box-shadow: 0 0 0 2px #8800f8;
  outline: none;
}

option {
  padding: 10px;
  font-weight: 800;
  color: #8800f8;
  
}


/* SCROLL ANIMATION */

.seccionTwo .main-cards .card, .seccionTwo h2, .seccionThree, .seccionFour, .seccionFive{
  view-timeline-name: --revealing-image;
  view-timeline-axis: block;

  animation-name: show;
  animation-timing-function: ease;
  animation-fill-mode: both;
  animation-timeline: --revealing-image;

  animation-range: entry 5% cover 20%;
}

@keyframes show {
  from{
    opacity: 0;
    scale:100%;
  }

  to{
    opacity: 1;
    scale: 100%;
  }
}


/* responsive */
@media (width < 800px){
 
    .header{
       padding: 0 5vh;
       margin: 0 auto;
    }
    .header .nav{
      display: none;
    }

    .seccionOne{
      min-height: 100vh;
       padding: 2vh 5vh 10vh 5vh;
       
    }

   


    .seccionOne h2{
      font-size: 45px;
      margin-top: 20px;
    }

    .seccionOne img{
      display: none;
    }
    .seccionTwo, .seccionFour{
      padding: 5vh;
    }

    .seccionTwo .main-cards{
      gap: 50px;
    }

    .seccionTwo h2{
      font-size: 22px;
    }

    .seccionThree{
      padding: 5vh;
      gap: 15px;
    }

    .seccionThree .entidades{
      gap: 10px;
    }

    .seccionFour h3{
      text-align: center;
    }

    .seccionFive{
      padding: 5vh;
    }

    .footer{
      text-align: center;
      padding: 10vh 5vh;
    }
    

}

@media (width < 1000px){
  .ilus-1, .ilus-2, .ilus-3, .ilus-4, .ilus-5{
    display: none;
  } 
}



